header {
  padding: 1em 1em 0 1em;
  width: 100%;
}
header a {
  width: 15%;
}
header a img {
  width: 80%;
}
header a img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
header .navbar-toggler {
  background-color: darkgray;
}
header .navbar-toggler span i {
  font-size: 1.5em;
  position: relative;
  top: 0.2vw;
}
header .menu {
  display: flex;
  margin: auto;
  width: 85%;
  justify-content: space-around;
  list-style-type: none;
}
header .menu li a {
  font-weight: 700;
}
header form {
  margin-left: 1em;
}
header form #input-search {
  padding: 0.4em 4em;
}
header form #btn-search {
  border-radius: 0.5em;
  padding: 0.4em 1.2em;
}
header .banner {
  background-image: url(../../imagenes/Pagina/banner.jpg);
  background-size: cover;
  padding: 4em;
}
header .banner .box {
  position: relative;
  width: 12em;
  height: 2.5em;
  background-color: darkgray;
  border-radius: 8px;
  overflow: hidden;
}
header .banner .box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 12em;
  height: 10em;
  background: linear-gradient(0deg, transparent, transparent, darkblue, darkblue, darkblue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
header .banner .box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 12em;
  height: 10em;
  background: linear-gradient(0deg, transparent, transparent, darkblue, darkblue, darkblue);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
header .banner .borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}
header .banner .borderLine::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 12em;
  height: 10em;
  background: linear-gradient(0deg, transparent, transparent, purple, purple, purple);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
header .banner .borderLine::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 12em;
  height: 15em;
  background: linear-gradient(0deg, transparent, transparent, purple, purple, purple);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}
@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}
header .banner h2 {
  font-weight: bold;
  background-color: darkgray;
  text-align: center;
  width: 40%;
  border-radius: 0.4em;
  padding: 0.1em;
  text-decoration: underline;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
header .banner p {
  font-size: 1.2em;
  background-color: darkgray;
  text-align: center;
  width: 42%;
  border-radius: 0.4em;
  padding: 0.1em;
  color: black;
  font-weight: bold;
  margin-top: 0.8em;
  margin-bottom: 1em;
}
header .banner a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}
header .banner a button {
  position: absolute;
  inset: 4px;
  background-color: lightgray;
  padding: 0.2em 0.1em;
  border: none;
  z-index: 2;
}
header .banner a #promo2:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: white;
  background-color: blue;
}

/*# sourceMappingURL=hader.css.map */
