header {
    padding: 1em 1em 0 1em;
    width: 100%;

    a {
        width: 15%;
    }

    a img {
        width: 80%;
    }

    a img:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    .navbar-toggler {
        background-color: darkgray;

        span i {
            font-size: 1.5em;
            position: relative;
            top: .2vw;
        }
    }

    .menu {
        display: flex;
        margin: auto;
        width: 85%;
        justify-content: space-around;
        list-style-type: none;

        li {
            a {
                font-weight: 700;
            }
        }

    }

    form {
        margin-left: 1em;

        #input-search {
            padding: 0.4em 4em;
        }

        #btn-search {
            border-radius: 0.5em;
            padding: 0.4em 1.2em;
        }
    }

    .banner {
        background-image: url(../../imagenes/Pagina/banner.jpg);
        background-size: cover;
        padding: 4em;

        .box {
            position: relative;
            width: 12em;
            height: 2.5em;
            background-color: darkgray;
            border-radius: 8px;
            overflow: hidden;
        }

        .box::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 12em;
            height: 10em;
            background: linear-gradient(0deg, transparent, transparent, darkblue, darkblue, darkblue);
            z-index: 1;
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
        }

        .box::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 12em;
            height: 10em;
            background: linear-gradient(0deg, transparent, transparent, darkblue, darkblue, darkblue);
            z-index: 1;
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }

        .borderLine {
            position: absolute;
            top: 0;
            inset: 0;
        }

        .borderLine::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 12em;
            height: 10em;
            background: linear-gradient(0deg, transparent, transparent, purple, purple, purple);
            z-index: 1;
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -1.5s;
        }

        .borderLine::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 12em;
            height: 15em;
            background: linear-gradient(0deg, transparent, transparent, purple, purple, purple);
            z-index: 1;
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -4.5s;
        }

        @keyframes animate {
            100% {
                transform: rotate(360deg);
            }
        }

        h2 {
            font-weight: bold;
            background-color: darkgray;
            text-align: center;
            width: 40%;
            border-radius: 0.4em;
            padding: 0.1em;
            text-decoration: underline;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }

        p {
            font-size: 1.2em;
            background-color: darkgray;
            text-align: center;
            width: 42%;
            border-radius: 0.4em;
            padding: 0.1em;
            color: black;
            font-weight: bold;
            margin-top: 0.8em;
            margin-bottom: 1em;
        }

        a {
            text-decoration: none;
            color: darkblue;
            font-weight: bold;

            button {
                position: absolute;
                inset: 4px;
                background-color: lightgray;
                padding: 0.2em 0.1em;
                border: none;
                z-index: 2;
            }

            #promo2:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                color: white;
                background-color: blue;
            }
        }
    }



}