#form {
    display: flex;
    justify-content: space-between;

    img {
        height: 5em;
        margin-right: 2em;
    }

    .quienes-somos {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;

        a {
            margin: 0.3em 0;
        }
    }

    #container-formulario {
        display: flex;
        flex-direction: column;
        form{
            margin-right: 0.8em;
        }
        h2{
            margin-bottom: 0.5em;
        }
        input {
            margin: 0;
            padding: 0.5;
        }

        label {
            margin: 0.2em;
        }
        textarea {
            margin: 0.2em;
        }

        #btn-enviar {
            align-content: center;
            text-align: center;
        }
    }

    .container-formulario input:hover,
    .container-formulario textarea:hover,
    a:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02)
    }

.btn-enviar {
    position: relative;
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 1em;
    border: none;
    border-radius: .2em;
    font-weight: bold;
    background-color: rgb(64, 155, 186);
}

//Efecto arriba y abajo del boton con before y after
.btn-enviar::before,
.btn-enviar::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 75);
    transform: scaleX(0);
    transition: transform 0.25s;
}

.btn-enviar::before {
    top: 0px;
    transform-origin: left;
}

.btn-enviar::after {
    bottom: -3px;
    transform-origin: right;
}

.btn-enviar:hover::before,
.btn-enviar:hover::after,
.active::before,
.active::after {
    transform: scaleX(1);
}

}