header {
        .btn-login {
            background-color: white;
            margin-left: 15em;
            padding: 0.4em 3em;
            border-radius: 0.5em;
            background: none;
            perspective: 2em;
            font-weight: bold;
            border: 0.12em solid blue;
            letter-spacing: 0.1em;
            a{
                text-decoration: none;
            }
        }

        .btn-login:hover {
            opacity: .6;
            background-color: blue;
            a{
                color: white;
            }
    }
}