article {
    .titulo-y-ver-todo {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;

        button {
            background-color: transparent;
            border: none;
            margin-right: 3em;
        }
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        section {
            margin: 0.5em;

            img {
                width: 9em;
            }

            p {
                margin: 0;
            }

            a {
                font-weight: bold;
                text-decoration: none;
            }
            a:hover{
                opacity: .8;
                color: darkblue;
            }
            .btn-editar{
                border: none;
                background-color: transparent;
                color: green;
                font-weight: bold;
                padding-left: 0;
            }
            .btn-editar:hover{
                opacity: .8;
                color: darkgreen;
            }
            .btn-eliminar{
                border: none;
                background-color: transparent;
                color: red;
                font-weight: bold;
                padding-left: 0;
            }
            .btn-eliminar:hover{
                opacity: .8;
                color: darkred;
            }
            .precio{
                display: flex;
                color: green;
                .precio1{
                    margin-right: 0.5em;
                    text-decoration:line-through;
                    color: red;
                }
            }

            img:hover {
                -webkit-transform: scale(1.04);
                transform: scale(1.04)
            }
        }
    }
}